.cardPruducto {
    background-color: var(--card-bg);
    color: var(--text-color);
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px var(--card-shadow);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 200px; /* Ajuste del tamaño */
    margin: auto; /* Centra la tarjeta */
  }
  
  .cardPruducto:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 10px var(--card-shadow);
  }
  
  .cardPruducto img {
    width: 150px; /* Tamaño reducido de las imágenes */
    height: 150px; /* Mantener proporción cuadrada */
    object-fit: cover; /* Recorta las imágenes para que se vean consistentes */
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
  }
  
  .cardPruducto h3 {
    font-size: 1rem; /* Tamaño reducido del texto */
    font-weight: 600;
    margin: 0.5rem 0;
  }
  
  .cardPruducto p {
    font-size: 0.875rem; /* Texto más pequeño */
    margin: 0.25rem 0;
  }
  
  .cardPruducto .btn {
    background-color: var(--btn-bg);
    color: var(--btn-text);
    padding: 0.3rem 0.5rem; /* Botón más pequeño */
    font-size: 0.875rem;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 0.5rem;
  }
  
  .cardPruducto .btn:hover {
    background-color: var(--btn-hover);
  }
  