.item-detail-container {
    display: flex;
    flex-direction: column; /* Organiza los elementos en columna */
    justify-content: center; /* Centra verticalmente */
    align-items: center; /* Centra horizontalmente */
    padding: 2rem;
    min-height: 100vh; /* Altura mínima de la pantalla */
    background-color: var(--bg-color); /* Fondo del contenedor */
    text-align: center;
  }
  
  .item-detail-container h2 {
    font-size: 2rem; /* Tamaño del título */
    color: var(--text-color);
    margin-bottom: 1.5rem; /* Espacio entre el título y la tarjeta */
  }
  
  .item-detail-card {
    background-color: var(--card-bg);
    color: var(--text-color);
    padding: 1.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px var(--card-shadow);
    text-align: center;
    max-width: 400px; /* Ancho máximo de la tarjeta */
    width: 100%; /* Ajusta el ancho al contenedor */
  }
  
  .item-detail-card img {
    max-width: 100%;
    height: auto;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
  }
  
  .item-detail-card h3 {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
  }
  
  .item-detail-card p {
    font-size: 1rem;
    margin-bottom: 1rem;
    line-height: 1.5;
  }
  
  .item-detail-card .btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #007bff; /* Azul del botón */
    color: #fff; /* Texto blanco */
    border: none;
    border-radius: 0.5rem;
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
    transition: all 0.3s ease;
    text-align: center;
    margin-top: 10px;
    margin-inline: 5px;
  }
  
  .item-detail-card .btn:hover {
    background-color: #0056b3; /* Azul más oscuro en hover */
    color: #fff;
    transform: scale(1.05); /* Pequeño efecto de zoom */
  }

  .item-detail-card .btn-terminar {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #28a745; /* Azul del botón */
    color: #fff; /* Texto blanco */
    border: none;
    border-radius: 0.5rem;
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
    transition: all 0.3s ease;
    text-align: center;
    margin-top: 10px;
    margin-inline: 5px;
  }

  .item-detail-card .btn-terminar:hover {
    background-color: #218838; /* Azul más oscuro en hover */
    color: #fff;
    transform: scale(1.05);
  }
  
  